* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  height: 78vh;
  background-image: url("images/main-background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 bottom 0;
  background-origin: border-box;
  background-clip: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav-bar {
  background: linear-gradient(to top, #767676 0%, #767676 50%, rgba(77, 77, 77, 1) 60%, rgba(80, 80, 80, 1) 70%, rgba(77, 77, 77, 0.8) 80%);
  height: 2.3125rem;
  width: 70%;
  border-radius: 4px;
  margin-top: 5rem;
}

.menu-bar {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  text-align: center;
}

.main-logo {
  color: #e6e7e8;
  font-size: 1.8rem;
}

.menu {
  width: 11%;
  height: 100%;
  border-right: 1px solid #595959;
  display: inline-block;
  padding: 5px;
}

.menu a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-size: 0.75rem;
}

.menu:hover {
  background: linear-gradient(to bottom, rgba(66, 66, 66, 1) 0%, rgba(66, 66, 66, 1) 50%, rgba(55, 55, 55, 1) 51%, rgba(60, 60, 60, 1) 60%, rgba(55, 55, 55, 0.8) 100%);
}

.logo:hover {
  border-radius: 4px;
}

.search {
  width: 15%;
}

.search-area {
  width: 80%;
  border-radius: 19px 19px;
  height: 27px;
  background: linear-gradient(to bottom, rgba(122, 122, 122, 1) 0%, rgba(122, 122, 122, 1) 50%, rgba(77, 77, 77, 1) 51%, rgba(80, 80, 80, 1) 60%, rgba(77, 77, 77, 0.8) 100%);
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.fontAwesome::placeholder {
  color: white;
}

.header-contents a {
  text-decoration: none;
  color: white;
}

.verse {
  font-size: 4rem;
  text-align: center;
  font-weight: 100;
  margin-top: 1.625rem;
}

.something-to-share {
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}

.your-verse {
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
  margin-top: 1.8rem;
}

.main-content {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.promo-img {
  display: inline-block;
  width: 25%;
}

.promo-img img {
  width: 100%;
}

.main-footer {
  width: 80%;
  font-size: 0.625rem;
  font-weight: 500;
  color: gray;
  margin: 25px auto;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

.footer-list {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin-left: 3.125rem;
}

.footer-list li {
  list-style-position: inside;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  padding-right: 10px;
}

.main-footer a {
  text-decoration: none;
  color: #0088cf;
}

.last-link {
  margin-left: 0.625rem;
  padding-left: 0.625rem;
  border-left: 1px solid #ccc;
}

.your-verse a:hover {
  border-bottom: 1px solid white;
}

.main-footer a:hover {
  text-decoration: underline;
}
